.btn {
  border-width: 2px;
}
body {
  font-family: Jost;
}
.display-1 {
  font-family: 'Jost', sans-serif;
  font-size: 2.7rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 3.375rem;
}
.display-2 {
  font-family: 'Jost', sans-serif;
  font-size: 2rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 2.5rem;
}
.display-4 {
  font-family: 'Jost', sans-serif;
  font-size: 1.3rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.625rem;
}
.display-5 {
  font-family: 'Jost', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 1.25rem;
}
.display-7 {
  font-family: 'Jost', sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.875rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 2.16rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 1.89rem;
    font-size: calc( 1.595rem + (2.7 - 1.595) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (1.595rem + (2.7 - 1.595) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 1.04rem;
    font-size: calc( 1.105rem + (1.3 - 1.105) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.105rem + (1.3 - 1.105) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 1.2rem;
    font-size: calc( 1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #232323 !important;
}
.bg-success {
  background-color: #40b0bf !important;
}
.bg-info {
  background-color: #0a9b13 !important;
}
.bg-warning {
  background-color: #ffe161 !important;
}
.bg-danger {
  background-color: #ff9966 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #c65557 !important;
  border-color: #c65557 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #933133 !important;
  border-color: #933133 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #933133 !important;
  border-color: #933133 !important;
}
.btn-info,
.btn-info:active {
  background-color: #0a9b13 !important;
  border-color: #0a9b13 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #054a09 !important;
  border-color: #054a09 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #054a09 !important;
  border-color: #054a09 !important;
}
.btn-success,
.btn-success:active {
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
  color: #614f00 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #0a0800 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #614f00 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: #232323;
  color: #232323;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: #000000 !important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: #c65557;
  color: #c65557;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #933133 !important;
  background-color: transparent!important;
  border-color: #933133 !important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #c65557 !important;
  border-color: #c65557 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: #0a9b13;
  color: #0a9b13;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #054a09 !important;
  background-color: transparent!important;
  border-color: #054a09 !important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #0a9b13 !important;
  border-color: #0a9b13 !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: #40b0bf;
  color: #40b0bf;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #2a747e !important;
  background-color: transparent!important;
  border-color: #2a747e !important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: #ffe161;
  color: #ffe161;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffd10a !important;
  background-color: transparent!important;
  border-color: #ffd10a !important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #614f00 !important;
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: #ff9966;
  color: #ff9966;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ff5f0f !important;
  background-color: transparent!important;
  border-color: #ff5f0f !important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: #232323;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: #000000 !important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: #fafafa;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: #cfcfcf !important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #232323 !important;
}
.text-secondary {
  color: #c65557 !important;
}
.text-success {
  color: #40b0bf !important;
}
.text-info {
  color: #0a9b13 !important;
}
.text-warning {
  color: #ffe161 !important;
}
.text-danger {
  color: #ff9966 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #000000 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #882d2f !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #266a73 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #043b07 !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #facb00 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #ff5500 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #232323;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #0a9b13;
}
.alert-warning {
  background-color: #ffe161;
}
.alert-danger {
  background-color: #ff9966;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #232323;
  border-color: #232323;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #232323;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #d5d5d5;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #a0d8df;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #33f23f;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
#scrollToTop a {
  border-radius: 100px;
}
.form-control {
  font-family: 'Jost', sans-serif;
  font-size: 1.3rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.625rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #232323 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Jost', sans-serif;
  font-size: 1.3rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.625rem;
}
blockquote {
  border-color: #232323;
}
/* Forms */
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #232323;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #232323;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #232323;
  border-bottom-color: #232323;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #232323 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #c65557 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23232323' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-sXlCgEFkNt {
  z-index: 1000;
  width: 100%;
  position: relative;
  min-height: 60px;
}
.cid-sXlCgEFkNt nav.navbar {
  position: fixed;
}
.cid-sXlCgEFkNt .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sXlCgEFkNt .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-sXlCgEFkNt .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-sXlCgEFkNt .dropdown-item:hover,
.cid-sXlCgEFkNt .dropdown-item:focus {
  background: #232323 !important;
  color: white !important;
}
.cid-sXlCgEFkNt .dropdown-item:hover span {
  color: white;
}
.cid-sXlCgEFkNt .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-sXlCgEFkNt .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-sXlCgEFkNt .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-sXlCgEFkNt .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-sXlCgEFkNt .nav-link {
  position: relative;
}
.cid-sXlCgEFkNt .container {
  display: flex;
  margin: auto;
}
@media (min-width: 992px) {
  .cid-sXlCgEFkNt .container {
    flex-wrap: nowrap;
  }
}
.cid-sXlCgEFkNt .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-sXlCgEFkNt .dropdown-menu,
.cid-sXlCgEFkNt .navbar.opened {
  background: #0983de !important;
}
.cid-sXlCgEFkNt .nav-item:focus,
.cid-sXlCgEFkNt .nav-link:focus {
  outline: none;
}
.cid-sXlCgEFkNt .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-sXlCgEFkNt .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-sXlCgEFkNt .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-sXlCgEFkNt .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sXlCgEFkNt .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-sXlCgEFkNt .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-sXlCgEFkNt .navbar {
  min-height: 70px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  background: #0983de;
}
.cid-sXlCgEFkNt .navbar.opened {
  transition: all 0.3s;
}
.cid-sXlCgEFkNt .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-sXlCgEFkNt .navbar .navbar-logo img {
  width: auto;
}
.cid-sXlCgEFkNt .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-sXlCgEFkNt .navbar.collapsed {
  justify-content: center;
}
.cid-sXlCgEFkNt .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-sXlCgEFkNt .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-sXlCgEFkNt .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-sXlCgEFkNt .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-sXlCgEFkNt .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-sXlCgEFkNt .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-sXlCgEFkNt .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-sXlCgEFkNt .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-sXlCgEFkNt .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-sXlCgEFkNt .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-sXlCgEFkNt .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-sXlCgEFkNt .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-sXlCgEFkNt .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-sXlCgEFkNt .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-sXlCgEFkNt .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-sXlCgEFkNt .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-sXlCgEFkNt .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-sXlCgEFkNt .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-sXlCgEFkNt .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-sXlCgEFkNt .navbar.navbar-short {
  min-height: 60px;
}
.cid-sXlCgEFkNt .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-sXlCgEFkNt .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-sXlCgEFkNt .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-sXlCgEFkNt .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-sXlCgEFkNt .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-sXlCgEFkNt .dropdown-item.active,
.cid-sXlCgEFkNt .dropdown-item:active {
  background-color: transparent;
}
.cid-sXlCgEFkNt .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-sXlCgEFkNt .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-sXlCgEFkNt .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-sXlCgEFkNt .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #0983de;
}
.cid-sXlCgEFkNt .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-sXlCgEFkNt .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-sXlCgEFkNt ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-sXlCgEFkNt .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-sXlCgEFkNt button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-sXlCgEFkNt button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #e43f3f;
}
.cid-sXlCgEFkNt button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-sXlCgEFkNt button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sXlCgEFkNt button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sXlCgEFkNt button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-sXlCgEFkNt nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sXlCgEFkNt nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-sXlCgEFkNt nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-sXlCgEFkNt nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sXlCgEFkNt .navbar-dropdown {
  padding: 0 1rem;
  position: fixed;
}
.cid-sXlCgEFkNt a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-sXlCgEFkNt .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-sXlCgEFkNt .navbar {
    height: 70px;
  }
  .cid-sXlCgEFkNt .navbar.opened {
    height: auto;
  }
  .cid-sXlCgEFkNt .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-tisc58APL9 {
  padding-top: 3rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tisc58APL9 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tisc58APL9 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tisc58APL9 .mbr-section-title {
  color: #0983de;
}
.cid-sXfRkjspn9 {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-sXfRkjspn9 .oldcost {
  color: #353535;
  text-align: center;
}
.cid-sXfRkjspn9 .currentcost {
  color: #c65557;
  text-align: left;
}
.cid-sXfRkjspn9 .card-wrapper {
  border-radius: 4px;
  background: #ffffff;
}
@media (min-width: 992px) {
  .cid-sXfRkjspn9 .text-box {
    padding: 2rem;
    padding-right: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-sXfRkjspn9 .text-box {
    padding: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-sXfRkjspn9 .text-box {
    padding: 1rem;
  }
}
.cid-sXfRkjspn9 .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-sXfRkjspn9 H5 {
  color: #c65557;
  text-align: left;
}
.cid-sXfRkjspn9 .mbr-text,
.cid-sXfRkjspn9 .cost,
.cid-sXfRkjspn9 .mbr-section-btn {
  text-align: center;
  color: #000000;
}
.cid-sXfRkjspn9 .currentcost P {
  text-align: center;
}
.cid-sXfRkjspn9 .hurryup span {
  font-size: 35px !important;
  padding: 5px 0px;
  font-weight: bold;
  color: white;
  background-color: #D0110F;
  animation-delay: 5s;
}
.cid-sXfRkjspn9 .highlight {
  color: #c65557;
}
.cid-sXfRkjspn9 .highlight2 {
  color: #0a9b13;
}
.cid-sXfRkjspn9 H3 {
  color: #0983de;
}
.cid-tiI4U4MUdt {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
}
.cid-tiI4U4MUdt .mbr-fallback-image.disabled {
  display: none;
}
.cid-tiI4U4MUdt .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tiI4U4MUdt .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tiI4U4MUdt img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-tiI4U4MUdt .text-wrapper {
    padding: 2rem;
  }
}
.cid-tiI4U4MUdt .mbr-section-title {
  text-align: center;
  color: #0983de;
}
.cid-tiI4U4MUdt P {
  color: #000000;
}
.cid-tiI5ORg4e4 {
  padding-top: 2rem;
  padding-bottom: 0rem;
  background-color: #0983de;
}
.cid-tiI5ORg4e4 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tiI5ORg4e4 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tiI5ORg4e4 .mbr-section-title {
  color: #ffffff;
}
.cid-sXfx2SZUHn {
  padding-top: 1rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-sXfx2SZUHn img,
.cid-sXfx2SZUHn .item-img {
  width: 100%;
}
.cid-sXfx2SZUHn .item:focus,
.cid-sXfx2SZUHn span:focus {
  outline: none;
}
.cid-sXfx2SZUHn .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-sXfx2SZUHn .item-wrapper {
  position: relative;
  border-radius: 4px;
  background: #fafafa;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-sXfx2SZUHn .item-wrapper .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-sXfx2SZUHn .item-wrapper .item-content {
    padding: 1rem;
  }
}
.cid-sXfx2SZUHn .mbr-section-btn {
  margin-top: auto !important;
}
.cid-sXfx2SZUHn .mbr-section-title {
  color: #c65557;
}
.cid-sXfx2SZUHn .mbr-text,
.cid-sXfx2SZUHn .mbr-section-btn {
  text-align: left;
}
.cid-sXfx2SZUHn .item-title {
  text-align: center;
  color: #0983de;
}
.cid-sXfx2SZUHn .item-subtitle {
  text-align: center;
}
.cid-tiI8GhhwSN {
  padding-top: 2rem;
  padding-bottom: 0rem;
  background-color: #0983de;
}
.cid-tiI8GhhwSN .mbr-fallback-image.disabled {
  display: none;
}
.cid-tiI8GhhwSN .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tiI8GhhwSN .mbr-section-title {
  color: #ffffff;
}
.cid-t5tT9I6F1Q {
  padding-top: 2rem;
  padding-bottom: 3rem;
  background-color: #ffffff;
}
.cid-t5tT9I6F1Q .mbr-section-subtitle {
  color: #c65557;
  text-align: center;
}
.cid-t5tT9I6F1Q .mbr-text {
  color: #000000;
}
.cid-tiKnf9ZmLp {
  padding-top: 2rem;
  padding-bottom: 1rem;
  background-color: #0983de;
}
.cid-tiKnf9ZmLp .mbr-fallback-image.disabled {
  display: none;
}
.cid-tiKnf9ZmLp .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tiKnf9ZmLp .mbr-section-title {
  color: #ffffff;
}
.cid-tiKnf9ZmLp .mbr-section-subtitle {
  color: #ffe885;
}
.cid-tiKngxCaSZ {
  padding-top: 1rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tiKngxCaSZ .item:focus,
.cid-tiKngxCaSZ span:focus {
  outline: none;
}
.cid-tiKngxCaSZ .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-tiKngxCaSZ .item-wrapper {
  position: relative;
  border-radius: 4px;
  background: #ffffff;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-tiKngxCaSZ .item-wrapper .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-tiKngxCaSZ .item-wrapper .item-content {
    padding: 1rem;
  }
}
.cid-tiKngxCaSZ .mbr-section-btn {
  margin-top: auto !important;
}
.cid-tiKngxCaSZ .mbr-section-title {
  color: #0171b1;
}
.cid-tiKngxCaSZ .mbr-text,
.cid-tiKngxCaSZ .mbr-section-btn {
  text-align: center;
}
.cid-tiKngxCaSZ .item-title {
  text-align: center;
}
.cid-tiKngxCaSZ .item-subtitle {
  text-align: center;
  color: #232323;
}
.cid-tiKngxCaSZ .mbr-section-subtitle {
  color: #c65557;
}
.cid-tiKnivEcrG {
  padding-top: 2rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tiKnivEcrG .mbr-fallback-image.disabled {
  display: none;
}
.cid-tiKnivEcrG .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tiKnivEcrG .item {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
.cid-tiKnivEcrG .icon-box {
  top: -0.3rem;
  position: relative;
  width: 60px;
  min-width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cid-tiKnivEcrG .mbr-iconfont {
  font-size: 3.5rem;
  color: #808080;
}
.cid-tiKnivEcrG .mobi-mbri-warning:before {
  content: "\26A0";
}
@media (max-width: 991px) {
  .cid-tiKnivEcrG .card {
    margin-bottom: 2rem;
  }
  .cid-tiKnivEcrG .card-wrapper {
    margin-bottom: 2rem;
  }
}
.cid-tiKnivEcrG .icon-title {
  color: #e43f3f;
}
.cid-tiIdqxmxYd {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-tiIdqxmxYd .testimonials-container {
  margin: 0 auto;
}
.cid-tiIdqxmxYd .testimonials-container .testimonials-item {
  justify-content: center;
  margin-top: 3rem;
  -webkit-justify-content: center;
}
.cid-tiIdqxmxYd .testimonials-container .testimonials-item .user {
  background: #0983de;
  border-radius: 10px;
}
.cid-tiIdqxmxYd .testimonials-container .testimonials-item .user.row {
  margin: 0;
}
.cid-tiIdqxmxYd .testimonials-container .testimonials-item .user .user_image {
  width: 180px;
  height: auto;
  overflow: hidden;
  margin: 2rem auto 2rem auto;
}
.cid-tiIdqxmxYd .testimonials-container .testimonials-item .user .user_image img {
  width: 100%;
  min-width: 100%;
  min-height: 100%;
}
.cid-tiIdqxmxYd .testimonials-container .testimonials-item .user .testimonials-caption {
  padding: 2rem;
}
@media (max-width: 260px) {
  .cid-tiIdqxmxYd .user_image {
    width: 100% !important;
    height: auto !important;
  }
}
@media (max-width: 767px) {
  .cid-tiIdqxmxYd .testimonials-caption {
    padding: 2rem !important;
  }
}
.cid-tiIdqxmxYd H3 {
  text-align: center;
  color: #0983de;
}
.cid-tiIdqxmxYd .mbr-section-subtitle {
  color: #000000;
}
.cid-tiIdqxmxYd H4 {
  color: #c65557;
  line-height: 1.5;
}
.cid-tiIdqxmxYd .user_text {
  color: #fff0f0;
}
.cid-tiKoEBHpHj {
  padding-top: 0rem;
  padding-bottom: 2rem;
  background-color: #ffffff;
}
.cid-tiI6Bje4LW {
  padding-top: 2rem;
  padding-bottom: 0rem;
  background-color: #0983de;
}
.cid-tiI6Bje4LW .mbr-fallback-image.disabled {
  display: none;
}
.cid-tiI6Bje4LW .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tiI6Bje4LW .mbr-section-title {
  color: #ffffff;
}
.cid-tggKtqrZ76 {
  padding-top: 2rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tggKtqrZ76 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tggKtqrZ76 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tggKtqrZ76 .item {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  align-items: flex-start;
}
@media (min-width: 991px) {
  .cid-tggKtqrZ76 .item {
    margin-bottom: 4rem;
  }
}
.cid-tggKtqrZ76 .item:last-child .icon-box:before {
  display: none;
}
.cid-tggKtqrZ76 .item.last .icon-box:before {
  display: none;
}
.cid-tggKtqrZ76 .icon-box {
  background: #0983de;
  width: 60px;
  min-width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
@media (max-width: 768px) {
  .cid-tggKtqrZ76 .icon-box {
    margin-right: 1rem;
  }
}
.cid-tggKtqrZ76 span {
  font-size: 2rem;
  color: #ffffff;
}
@media (max-width: 991px) {
  .cid-tggKtqrZ76 .card {
    margin-bottom: 2rem;
  }
  .cid-tggKtqrZ76 .card-wrapper {
    margin-bottom: 2rem;
  }
}
.cid-tggKtqrZ76 .mbr-text,
.cid-tggKtqrZ76 .mbr-section-btn {
  text-align: left;
  color: #000000;
}
.cid-tggKtqrZ76 .card-title,
.cid-tggKtqrZ76 .card-box {
  color: #c65557;
}
.cid-tggKtqrZ76 .icon-title {
  color: #0983de;
}
.cid-tbl49AAraS {
  padding-top: 3rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
}
.cid-tbl49AAraS .mbr-fallback-image.disabled {
  display: none;
}
.cid-tbl49AAraS .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tbl49AAraS .card-wrapper {
  padding-right: 2rem;
}
@media (max-width: 992px) {
  .cid-tbl49AAraS .card {
    margin-bottom: 2rem!important;
  }
  .cid-tbl49AAraS .card-wrapper {
    padding: 0 1rem;
  }
}
@media (max-width: 767px) {
  .cid-tbl49AAraS .link-wrap {
    align-items: center;
  }
}
.cid-tbl49AAraS .image-wrapper img {
  width: 100%;
  object-fit: contain;
}
.cid-tbl49AAraS .card-title,
.cid-tbl49AAraS .card-box {
  color: #0983de;
}
.cid-tbl49AAraS .mbr-text,
.cid-tbl49AAraS .link-wrap,
.cid-tbl49AAraS .mbr-section-btn {
  color: #000000;
}
.cid-tiI6UJTEEE {
  padding-top: 2rem;
  padding-bottom: 0rem;
  background-color: #0983de;
}
.cid-tiI6UJTEEE .mbr-fallback-image.disabled {
  display: none;
}
.cid-tiI6UJTEEE .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tiI6UJTEEE .mbr-section-title {
  color: #ffffff;
}
.cid-tbf89HIJCd {
  padding-top: 1rem;
  padding-bottom: 2rem;
  background-color: #ffffff;
}
.cid-tbf89HIJCd .counter-container ul {
  margin: 0;
  list-style: none;
  padding-left: 2.5rem;
}
.cid-tbf89HIJCd .counter-container ul li {
  margin-bottom: 1rem;
  list-style: none;
  position: relative;
  padding-left: 1rem;
}
.cid-tbf89HIJCd .counter-container ul li:before {
  position: absolute;
  left: -40px;
  content: "";
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: #5ab9c3;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-top: 5px;
  content: "✓";
}
.cid-tbf89HIJCd .mbr-section-title {
  color: #000000;
  text-align: left;
}
.cid-tbf89HIJCd .mbr-text {
  color: #000000;
}
.cid-tbf89HIJCd .mbr-text UL {
  text-align: left;
}
.cid-tiK6JFI9zz {
  padding-top: 0rem;
  padding-bottom: 1rem;
  background-color: #fff0f0;
}
.cid-tiK6JFI9zz .mbr-fallback-image.disabled {
  display: none;
}
.cid-tiK6JFI9zz .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tiK6JFI9zz .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tiK6JFI9zz img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-tiK6JFI9zz .text-wrapper {
    padding: 2rem;
  }
}
.cid-tiK6JFI9zz .mbr-section-title {
  text-align: center;
  color: #0983de;
}
.cid-tiK6JFI9zz .mbr-text {
  text-align: center;
}
.cid-tiI77AYxoD {
  padding-top: 2rem;
  padding-bottom: 1rem;
  background-color: #0983de;
}
.cid-tiI77AYxoD .mbr-fallback-image.disabled {
  display: none;
}
.cid-tiI77AYxoD .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tiI77AYxoD .mbr-section-title {
  color: #ffffff;
}
.cid-tiI77AYxoD .mbr-section-subtitle {
  color: #ffe885;
}
.cid-t3nJ22uDnG {
  padding-top: 1rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-t3nJ22uDnG .item:focus,
.cid-t3nJ22uDnG span:focus {
  outline: none;
}
.cid-t3nJ22uDnG .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-t3nJ22uDnG .item-wrapper {
  position: relative;
  border-radius: 4px;
  background: #ffffff;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-t3nJ22uDnG .item-wrapper .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-t3nJ22uDnG .item-wrapper .item-content {
    padding: 1rem;
  }
}
.cid-t3nJ22uDnG .mbr-section-btn {
  margin-top: auto !important;
}
.cid-t3nJ22uDnG .mbr-section-title {
  color: #0171b1;
}
.cid-t3nJ22uDnG .mbr-text,
.cid-t3nJ22uDnG .mbr-section-btn {
  text-align: center;
}
.cid-t3nJ22uDnG .item-title {
  text-align: center;
}
.cid-t3nJ22uDnG .item-subtitle {
  text-align: center;
  color: #232323;
}
.cid-t3nJ22uDnG .mbr-section-subtitle {
  color: #c65557;
}
.cid-tiIkj81Pqf {
  padding-top: 2rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tiIkj81Pqf .mbr-fallback-image.disabled {
  display: none;
}
.cid-tiIkj81Pqf .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tiIkj81Pqf .item {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
.cid-tiIkj81Pqf .icon-box {
  top: -0.3rem;
  position: relative;
  width: 60px;
  min-width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cid-tiIkj81Pqf .mbr-iconfont {
  font-size: 3.5rem;
  color: #808080;
}
.cid-tiIkj81Pqf .mobi-mbri-warning:before {
  content: "\26A0";
}
@media (max-width: 991px) {
  .cid-tiIkj81Pqf .card {
    margin-bottom: 2rem;
  }
  .cid-tiIkj81Pqf .card-wrapper {
    margin-bottom: 2rem;
  }
}
.cid-tiIkj81Pqf .icon-title {
  color: #e43f3f;
}
.cid-tiI7vG3QFS {
  padding-top: 2rem;
  padding-bottom: 0rem;
  background-color: #0983de;
}
.cid-tiI7vG3QFS .mbr-fallback-image.disabled {
  display: none;
}
.cid-tiI7vG3QFS .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tiI7vG3QFS .mbr-section-title {
  color: #ffffff;
}
.cid-t04Uo03lCh {
  padding-top: 1rem;
  padding-bottom: 2rem;
  background-color: #ffffff;
}
.cid-t04Uo03lCh .mbr-iconfont {
  font-size: 1.4rem !important;
  font-family: 'Moririse2' !important;
  color: #232323;
  margin-left: 1rem;
}
.cid-t04Uo03lCh .panel-group {
  border: none;
}
.cid-t04Uo03lCh .panel-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cid-t04Uo03lCh .panel-body,
.cid-t04Uo03lCh .card-header {
  padding: 1rem 0;
}
.cid-t04Uo03lCh .panel-title-edit {
  color: #232323;
}
.cid-t04Uo03lCh .card .card-header {
  background-color: transparent;
  margin-bottom: 0;
}
.cid-t04Uo03lCh H3 {
  color: #c65557;
}
.cid-t04Uo03lCh .panel-title-edit DIV {
  text-align: center;
}
.cid-tix19jzpL6 {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #0983de;
}
.cid-tix19jzpL6 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tix19jzpL6 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tix19jzpL6 .image-wrap img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-tix19jzpL6 .image-wrap img {
    display: block;
    margin: auto;
    width: 60%;
  }
}
.cid-tix19jzpL6 .mbr-section-title {
  color: #ffffff;
}
.cid-tix19jzpL6 .oldcost {
  color: #ffffff;
}
.cid-tix19jzpL6 .currentcost {
  color: #ffffff;
}
.cid-timasHG459 {
  padding-top: 2rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-timasHG459 .mbr-fallback-image.disabled {
  display: none;
}
.cid-timasHG459 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-timasHG459 .image-wrap img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-timasHG459 .image-wrap img {
    display: block;
    margin: auto;
    width: 100%;
  }
}
.cid-timcwWt3W6 {
  padding-top: 4rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-timcwWt3W6 .mbr-fallback-image.disabled {
  display: none;
}
.cid-timcwWt3W6 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-timcwWt3W6 .mbr-section-title {
  text-align: left;
}
.cid-timcwWt3W6 .mbr-section-subtitle {
  text-align: left;
}
.cid-timcxsodz4 {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-timcxsodz4 .mbr-fallback-image.disabled {
  display: none;
}
.cid-timcxsodz4 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-timcxsodz4 .mbr-section-title {
  text-align: left;
}
.cid-timcxsodz4 .mbr-section-subtitle {
  text-align: left;
}
.cid-timcxWAZ1m {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-timcxWAZ1m .mbr-fallback-image.disabled {
  display: none;
}
.cid-timcxWAZ1m .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-timcxWAZ1m .mbr-section-title {
  text-align: left;
}
.cid-timcxWAZ1m .mbr-section-subtitle {
  text-align: left;
}
.cid-timrabwvQF {
  padding-top: 2rem;
  padding-bottom: 1rem;
  background-image: url("../../images/background1.jpg");
}
.cid-timrabwvQF .mbr-fallback-image.disabled {
  display: none;
}
.cid-timrabwvQF .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-timrabwvQF ul {
  list-style: none;
  margin: 0;
  padding-left: 2.5rem;
}
.cid-timrabwvQF li {
  position: relative;
  margin-bottom: 1rem;
}
.cid-timrabwvQF ul li::before {
  position: absolute;
  left: -1.6rem;
  top: -1rem;
  content: "\2022";
  color: #232323;
  font-weight: bold;
  font-size: 3rem;
  width: 1.6rem;
}
.cid-timrabwvQF .list {
  color: #ffffff;
}
.cid-tixprEFpqg {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #232323;
  overflow: hidden;
}
.cid-tixprEFpqg .media-container-row .mbr-text {
  text-align: justify;
}
